#naviframe {
    background: #000;
    height: 3em;
    width: 100%;
    position: fixed;
    top: 0;
}
#topnav a {
    color: rgb(200,200,200);
    text-align: center;
    padding: 10px 16px;
    font-size: 20px;
    font-family: "Roboto Mono";
    font-weight: bold;
    transition: font-size 0.1s;
}
.left {
    float: left;
}
.right {
    float: right;
}
#topnav a:hover {
    font-size: 22px;
    transition: font-size 0.1s;
}
#topnav div a {
    font-size: 16px;
    transition: none;
    z-index: 10;
}
#topnav div a:hover {
    font-size: 16px;
    transition: none;
}
/*#topnavshadow {
    position: absolute;
    top: 0;
    left: -2.5%;
    background-color: rgba(0,0,0,0);
    height: 3em;
    width: 105%;
    box-shadow: 0 10px 30px rgb(128,0,255);
    pointer-events: none;
    position: fixed;
}*/
#navtab img {
    aspect-ratio: 16/9;
    height: 32px;
    transition: height 0.1s;
}
#navtab img:hover {
    aspect-ratio: 16/9;
    height: 34px;
    transition: height 0.1s;
}
#navhome img {
    aspect-ratio: 1;
    height: 48px;
    position: absolute;
    left: 50%;
    translate: -50% 0;
    transition: height 0.1s;
}
#navhome img:hover {
    aspect-ratio: 1;
    height: 50px;
    transition: height 0.1s;
}